body {
    background-color: rgb(242, 199, 255);
    min-height: 100vh;
}

div {
    width: 100vw;
    height: 100vh;
    padding: 1em;
    margin: 0 -1em;
}

html {
    min-height: fit-content;
}

#border {
    border: 10px solid transparent;
    padding: 15px;
    border-image-width: 10px;
    border-image: url(images/hearts.jpg) 30 round;
    border-image-outset: 0px;
    border-width: 10px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin: 0 auto
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fff;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}



@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(205, 10, 42)
}

figure {
    font-family: "American Typewriter", serif;
    color: rgb(68, 16, 240);
    font-weight: bold;
    font-size: large;
}

span {
    content: "\2193";
}

button {
    border: 0px transparent;
    background-color: transparent;
}